In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [13]:
import re
import string
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HASSAN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [14]:
df = pd.read_csv('Datafiniti_Amazon_Consumer_Reviews_of_Amazon_Products.csv')

In [15]:
df.head()

,id,name,primaryCategories,reviews.doRecommend,reviews.rating,reviews.text
0,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Electronics,False,3,I thought it would be as big as small paper bu...
1,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Electronics,True,5,This kindle is light and easy to use especiall...
2,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Electronics,False,4,Didnt know how much i'd use a kindle so went f...
3,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Electronics,True,5,I am 100 happy with my purchase. I caught it o...
4,AVqVGZNvQMlgsOJE6eUY,"Amazon Kindle E-Reader 6"" Wifi (8th Generation...",Electronics,True,5,Solid entry level Kindle. Great for kids. Gift...

In [16]:
df = df.drop(["id", "name","primaryCategories","reviews.doRecommend"], axis=1)

In [17]:
df = df.sample(frac=1)

In [18]:
df.head()

      reviews.rating                                       reviews.text
4384               5  I'm an author and frequently give these away a...
2062               4  This was a good pick for first kids tablets. I...
203                5  This Echo Show comes in handy. I use it almost...
3247               5  like better than the 7 inch Kindle better to r...
2360               5  My grandson loves it. Will be getting another ...

In [19]:
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df['reviews.rating']= label_encoder.fit_transform(df['reviews.rating']) 

df['reviews.rating'].unique()

array([4, 3, 2, 1, 0], dtype=int64)

In [20]:
df.head()

      reviews.rating                                       reviews.text
4384               4  I'm an author and frequently give these away a...
2062               3  This was a good pick for first kids tablets. I...
203                4  This Echo Show comes in handy. I use it almost...
3247               4  like better than the 7 inch Kindle better to r...
2360               4  My grandson loves it. Will be getting another ...

In [21]:
#dataset description #truthful=1 deceptive=0
df.groupby('reviews.rating').describe()

               reviews.text         \
                      count unique
reviews.rating
0                        63     48
1                        54     47
2                       197    175
3                      1208   1055
4                      3478   3061


                                                              top freq
reviews.rating
0               Bought this mostly as a backup.and to read a f...    4
1               Needs to be a stand alone device. I should hav...    2
2               Overall it is a good tablet, but I am not a fa...    3
3               A little more complicated than my original kin...    4
4               This was a Christmas present. The person that ...    4

In [22]:
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [23]:
# Some preprocesssing that will be common to all the text classification methods

puncts = [',', '.', '"', ':', ')', '(', '-', '!', '?', '|', ';', "'", '$', '&', '/', '[', ']', '>', '%', '=', '#', '*', '+', '\\', '•',  '~', '@', '£', 
 '·', '_', '{', '}', '©', '^', '®', '`',  '<', '→', '°', '€', '™', '›',  '♥', '←', '×', '§', '″', '′', 'Â', '█', '½', 'à', '…', 
 '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', 
 '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', 
 '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√', ]

def clean_char(x):
    x = str(x)
    for punct in puncts:
        if punct in x:
            x = x.replace(punct, f' {punct} ')
    return x

In [24]:
def clean_numbers(x):
    if bool(re.search(r'\d', x)):
        x = re.sub('[0-9]{5,}', '#####', x)
        x = re.sub('[0-9]{4}', '####', x)
        x = re.sub('[0-9]{3}', '###', x)
        x = re.sub('[0-9]{2}', '##', x)
    return x

In [25]:
df['reviews.text'] = df['reviews.text'].map(lambda a: clean_numbers(a))

In [26]:
df['reviews.text'] = df['reviews.text'].map(lambda a: clean_char(a))

In [27]:
df['reviews.text'] = df['reviews.text'].map(lambda a: clean_text(a))

In [28]:
df['reviews.text']

4384    author frequent give away promot prize reader ...
2062    good pick first kid tablet wish get app littl ...
203     echo show come handi use almost much thought w...
3247                   like better inch kindl better read
2360                          grandson love get anoth one
                              ...
3197    great product also dot abil take anywher huge ...
918     must great recepi cook alexa give info ine use...
2666    absolut love kindl kid edit easi use great app...
783     love screen abl see video along camera vivint ...
3001    good speaker hour batteri good price excel qua...
Name: reviews.text, Length: 5000, dtype: object

In [29]:
df.describe()

       reviews.rating
count     5000.000000
mean         3.596800
std          0.731804
min          0.000000
25%          3.000000
50%          4.000000
75%          4.000000
max          4.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 4384 to 3001
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   reviews.rating  5000 non-null   int64
 1   reviews.text    5000 non-null   object
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

In [31]:
x = df['reviews.text']
y = df['reviews.rating']

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['reviews.text'], df['reviews.rating'], random_state=5)
print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 5000
Number of rows in the training set: 3750
Number of rows in the test set: 1250

In [34]:
X_train, X_test, y_train, y_test

(686     purchas weather info seen screen time never kn...
 1149    love echo plus easi set compar extra simplifi ...
 3169                       bought gift christma well like
 344                thank display version alexa love model
 899     echo show video screen nice upgrad echo s news...
                               ...
 2153     good inexpens devic still touch modern technolog
 1649                  perfect educ game protect case sold
 4549    love kindl excel price carri everywher fit per...
 2334    think price great durabl easi although need sp...
 277     gave husband birthday love abl chang screen pi...
 Name: reviews.text, Length: 3750, dtype: object,
 2288    love solut kid gave four star rate order insta...
 2040    bought children love littl worri adapt new ope...
 1341                 love echo awesom product great price
 3817    purchas tablet most entertain enjoy play game ...
 268     children love alexa alway talk alexa everi day...
                               ...
 4487                             nice tablet afford price
 2951                       bought onoth one blue kid love
 2393    durabl child offer one user everyon read favor...
 4400    low cost item provid huge return money spent g...
 62                   good abl read bright sunlight condit
 Name: reviews.text, Length: 1250, dtype: object,
 686     3
 1149    4
 3169    4
 344     4
 899     4
        ..
 2153    4
 1649    3
 4549    4
 2334    4
 277     4
 Name: reviews.rating, Length: 3750, dtype: int64,
 2288    3
 2040    4
 1341    4
 3817    4
 268     4
        ..
 4487    3
 2951    4
 2393    3
 4400    4
 62      3
 Name: reviews.rating, Length: 1250, dtype: int64)

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
print(count_vector)

CountVectorizer()

In [36]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [37]:
first_element = X_test.iloc[0]
my_test_data = count_vector.transform([first_element])

In [38]:
first_element

'love solut kid gave four star rate order instal app tap icon well two year old five year old went tap crazi like kangaroo pogo stick needless say ran room quick tri teach launch app instal still problem discern instal asid fantast devic kid play learn especi like parent control featur wish would put featur control get instal'

In [39]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB()

In [45]:
import joblib
# Assuming naive_bayes and count_vectorizer are already defined and trained
joblib.dump(naive_bayes, 'naive_bayes_model_2.joblib')

['naive_bayes_model_2.joblib']

In [46]:
joblib.dump(count_vector, 'count_vectorizer_2.joblib')

['count_vectorizer_2.joblib']